<!--<full-calendar
  [plugins]="calendarPlugins"
  [weekends]="false"
  locale = "es"
  
  defaultView="dayGridWeek"
[header]="options.header"
[plugins]="calendarPlugins"
(eventClick)="apointmentshow($event)"
(dayRender)="dayRender($event)"
[firstDay]="1"
  [events]="[
    { title: 'event 1', date: '2020-02-19', profesional: 'Arizmendi, Camila', paciente: 'Schulten, Alejandro' },
    { title: 'event 2', date: '2020-02-20', profesional: 'Gomez, Jose', paciente: 'Di Martino, Damian' }
  ]"
></full-calendar>-->
<div id="full-calendar"></div>