<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Agregar Profesional</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form  del paciente-->
<div class="inner-wrapper">
    <form [formGroup]="profesionalForm" (ngSubmit)="submitProfesional()" #resetProfesionalForm="ngForm" novalidate>
        <!-- Left block -->
        <mat-card>
            <div class="controlers-wrapper">
                <!-- Nombre -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" formControlName="nombre_profesional" autocomplete="off">
                    <mat-error *ngIf="handleError('nombre_profesional', 'required')">
                        Debe ingresar el <strong>nombre</strong> del profesional
                    </mat-error>
                </mat-form-field>

                <!-- Apellido -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellido" formControlName="apellido_profesional" autocomplete="off">
                    <mat-error *ngIf="handleError('apellido_profesional', 'required')">
                        Debe ingresar el <strong>apellido</strong> del profesional
                    </mat-error>
                </mat-form-field>

                <!-- DNI -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="DNI" formControlName="dni" pattern="[0-9]*" minlength="7"
                        maxlength="8" autocomplete="off">
                    <mat-error *ngIf="handleError('dni', 'required')">
                        Debe ingresar el <strong>DNI</strong>
                    </mat-error>
                    <mat-error *ngIf="handleError('dni', 'pattern')">
                        Ingresar DNI sin puntos, solo números
                    </mat-error>
                    <mat-error *ngIf="handleError('dni', 'minlength')">
                        El <strong>DNI</strong> debe ser de 7/8 números
                    </mat-error>
                    <mat-error *ngIf="handleError('dni', 'maxlength')">
                        El <strong>DNI</strong> debe ser de 7/8 números
                    </mat-error>
                </mat-form-field>

                <!-- Especialidad -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Especialidad" formControlName="especialidad" autocomplete="off">
                    <mat-error *ngIf="handleError('especialidad', 'required')">
                        Debe ingresar la <strong>especialidad</strong> del profesional
                    </mat-error>
                </mat-form-field>

                <!-- Matrícula -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Matricula" formControlName="matricula"autocomplete="off">
                    <mat-error *ngIf="handleError('matricula', 'required')">
                        Debe ingresar la <strong>matrícula</strong> del profesional
                    </mat-error>
                </mat-form-field>

                <!-- Numero teléfono -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número de teléfono" formControlName="telefono" pattern="[0-9]*" autocomplete="off">
                    <mat-error *ngIf="handleError('telefono', 'required')">
                        Debe ingresar el <strong>número de teléfono</strong> del profesional
                    </mat-error>
                    <mat-error *ngIf="handleError('telefono', 'pattern')">
                        Debe ingresar el <strong>número de teléfono</strong> del profesional, sin caracteres ("+, ., ()"), sólo números
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-flat-button color="warn">Aceptar</button>
                    <button mat-flat-button color="war" (click)="resetForm()">Limpiar</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>